# Visual Studio / .NET

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio caches and settings
.vs/

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# .NET tools
.dotnet/

# OS files
.DS_Store
Thumbs.db
Desktop.ini
